body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #F76902; /* RIT Orange */
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0 0;
    color: white; /* Ensure the text is white for visibility */
    font-size: 1.2em;
}

header p a {
    color: white; /* Links in header should also be white */
    text-decoration: none;
}

header p a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
    color: #007BFF; /* Default color */
}

/* Add transition to the section elements for the fade-in effect */
section {
    opacity: 0; /* Initial state before fade-in */
    transition: opacity 1s; /* Ensure it animates smoothly */
}

.education-item, .project-item, .experience-item, .activity-item {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #F76902; /* RIT Orange for the footer */
    color: white;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.education-item h3 {
    margin: 0;
    font-weight: bold;
    color: #333;
}

.education-item p {
    margin: 5px 0;
    color: #666;
}

.education-item p:first-of-type {
    font-weight: bold;
    margin-top: 5px;
    color: #000;
}
